body{
	color: white;
	margin: 0px 0px 0px 0px;
	font-family: helvetica, sans-serif;
}
ul {
	list-style-type: none;
	-webkit-padding-start: 0px;
}
li {
	display: inline;
}
.title_page{
	background-image: url("content/etc/title_background.png");
}
.title_page .logo{
	margin: 0px;
	display: inline;
}
.title_page .logo img {
	float: left;
	width: 200px;
}
.title_page .navigation{
	float: right;
}

.title_page .navigation li{
	margin-right: 60px;
	width: 60px;
	padding-left: 1em;
	padding-right: 1em;
	width: 10%;
}
.title_page .mission_statement{
	clear: left;
	padding:200px 0px 200px 30px;
	vertical-align: center;
	font-size: 40pt;
	margin: 0px;
}
.title_page .nav_arrow{
	text-align: center;
}
.title_page .nav_arrow img{
	width: 20px;
}
.work{
	color: black;
	padding: 0px;
}
.work .title{
	text-align: center;
	padding: 0px;
	border-bottom: 2px solid gray;
}
.work .navigation{
	padding: 25px;
	text-transform:capitalize;
	background-color: gray;
	text-align:center;
}
.work li{
	text-align:center;
}
.work .navigation li {

	margin-left: 20px;
	margin-right: 20px;

}
.work .logos{

}
.work .social_media{

}
.work .print{
}
.work .t_shirt{
}
.what_i_do, .about{
	/*padding: 50px;*/
}
.what_i_do{
	background-color: gray;
	column-count: 2;
}
.about {
	background-color: black;
}
.about .image{
	margin: 20px auto 20px auto;
	max-width: 75%;
	width: 75%;
	/*min-width: 200px;*/
	text-align:center;
}
.about .content{

	padding: 75px;
	column-count: 3;
	height: auto;
	overflow: auto;
	overflow-wrap: break-word;
}
.contact{
}
.contact.links{
}


